.timer{
    text-align: center;
    color: rgb(0, 0, 0);
}
.seconds{
    color: darkred;
}
.startQ{
    text-align: center;
}
button{
   color: rgb(38, 128, 16);
   text-decoration:solid underline rgb(160, 6, 6) ;
   padding: 15px;
   border: 10px rgb(0, 0, 0) double;
   
} 

h1{
    text-align: center;
    color: rgb(78, 20, 220);
}
h2{
    color: rgb(15, 183, 189);
}

h3{
    color: rgb(187, 45, 2);
}

h4{
    text-align: center;
}
p{
    color: green;
    font-size: 40px;
}