span{
    color: rgb(224, 26, 231);
    font-size: 25px;
    
}
.seconds{
    color: darkred;
}
.quiz{
    text-align: center;
}
button{
   color: rgb(158, 45, 1);
   text-decoration:solid underline rgb(160, 6, 6) ;
   padding: 15px;
   border: 10px rgb(0, 0, 0) double;
} 

h1{
    text-align: center;
    color: rgb(0, 0, 0);
}
p{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

h3{
    color: rgb(187, 45, 2);
}

h4{
    color: rgb(0, 0, 0);
    text-align: center;
}
